/* // FCDD5E (yellow)
//EE7A7F (rose)
// A8C94C (green)
// 89CBC4 (light-blue) //background
// 278F9F (dark-blue) */

body {
    background-color: #89CBC4;
    font-family: 'Dosis', sans-serif;
}

.input-card {
  padding: 20px;
  align-items: center;
}

.slider-icon-left {
  margin-right: 2.5%;
  height: 150px;
  width: 150px;
}

.slider-icon-right {
  margin-left: 2.5%;
  height: 150px;
  width: 150px;
}

.slider-row-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 0;
  width: 100%;
}

.dropdown-image-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.dropdown-image-container select {
  width: 25%;
}

@media(max-width : 1224px) {
  .slider-icon-left,
  .slider-icon-right {
    height: 100px;
    width: 100px;
  }
}

@media(max-width: 767px) {
  .slider-icon-left,
  .slider-icon-right {
    height: 40px;
    width: 40px;
  }

  .graph-options-wrapper {
    margin: 0 auto;
  }

  /* .tracker-graph {
    height: 200px;
    width: 200px;
  } */
}

.navbar,
.navbar-brand,
.navbar-light .navbar-brand, 
.navbar-light .navbar-toggler,
.navbar-toggle-item {
    background-color: #89CBC4;
    color: white;    
}

.main-header {
    color: white;
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-link {
    text-decoration: none;
    color: white;
    margin-top: 100px;
}

.tracker-wrapper {
    color: white;
    border: 3px solid white;
    align-content: flex-start;
    flex-direction: row;    
    display: flex;
}

.input-section {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.input-wrapper { 
    text-align: center;
    padding: 10px;
    border: 3px solid white;    
    border-radius: 5px;
    width: 100%;
}

.graph-wrapper {
    border: 3px solid white;
    height: auto;
    width: 40%;    
}

.tracker-wrapper h3 {
    margin-top: 20px;
}


/* **************************************************************

*********************** SLIDER ***********************************

************************************************************** */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 60%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ddd;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ddd;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #89CBC4;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #ddd;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ddd;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ddd;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ddd;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ddd;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #89CBC4;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ddd;
  }
  input[type=range]::-ms-fill-upper {
    background: #ddd;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ddd;
  }


  /* ********************************************************
  ***************** TRACKER GRAPH ***************************
  ******************************************************** */

  .tracker-graph-wrapper {
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    width: 80%;
  }

  .tracker-graph {
    margin: 10px auto;
  }

  .graph-options-wrapper,
  .advice-input-wrapper {
    width: 80%;
    margin: 10px auto;
  }

  .graph-options-select {
    width: 25%;
    margin: 2% 5%;
  }

  .graph-options-wrapper form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .graph-options-wrapper label {
    margin-left: 5px;
    padding: 1%;
    border-radius: 5px;
  }

  .graph-options-wrapper input {
    margin: 0 5px;
  }

  .graph-checkbox-mood {
    background-color: #005866;
    margin-left: 5px;
    padding: 1%;
  }

  .graph-checkbox-anxiety {
    background-color: #89CBC4;
    margin-left: 5px;
    padding: 1%;
  }

  .graph-checkbox-sleep {
    background-color: #A8C94C;
    margin-left: 5px;
    padding: 1%;
  }

  .graph-checkbox-social {
    background-color: #EE7A7F;
    margin-left: 5px;
    padding: 1%;
  }

  .graph-checkbox-exercise {
    background-color: #FCDD5E;
    margin-left: 5px;
    padding: 1%;
  }

  .input-start-button {
    margin: 0 auto;
    justify-content: center;
  }

  .input-start-button a {
    display: inline-block;
  }

  .advice-panel {
    padding: 5px;
  }

  .card {
    border-radius: 10px;
  }

  .btn-primary {
    background-color: #278F9F;
    border-color: #278F9F;
  }

  .btn-primary:hover {
    border-color: #005866;
    background-color: #005866;
  }

  .input-start-button {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .get-started-button {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    padding: 100px 50px;
    max-width: 95%;
    /* border: 3px white solid; */
    box-shadow: 1px 1px 1px #333;
    border-radius: 10px;
}

.nav-item {
  margin: 0 40px;
}

.tracker-header {
  width: 80%;
  margin: 10px auto;
  margin-top: 30px;
  color: white;   
}